<!DOCTYPE html>
<html>
    <head>
        <title>Madlibs Input</title>
        <link rel="stylesheet" href="../static/madlibs.css"/>
    </head>
    <body class="maintheme">
        <form action="/madlib">
            <p><label>Person: <input type="text" name="person"></label></p>
            <p><label>Color: <input type="text" name="color"></label></p>
            <p><label>Noun: <input type="text" name="noun"></label></p>
            <p><label>Second Noun: <input type="text" name="noun2"></label></p>
            <p><label>Adjective: <input type="text" name="adjective"></label></p>
            <br>
            <input type="submit">
        </form>
    </body>
</html>